body {
	background-color: blue;
}

.login {
	width: 400px;
	height: 500px;
	margin: 50px auto;
}

h1 {
	text-align: center;
	font-weight: 900;
	background: blue;
	color: white;
	font-style: normal;
	font-family: Arial, sans-serif;
}

.login-text {
	color: white;
}

input {
	width: 400px;
	height: 40px;
	background: darkblue;
}

.btn {
	margin: 0px auto;
	background: rgb(72, 116, 215);
	width: 409px;
	height: 40px;
	color: white;
}
